<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Agregar</title>
</head>
<body>
	<div>
		<form th:action="@{/saveProveedor}" th:object="${Proveedor}" method="POST">
			<div></div>
			<div>
				<div>
					<label>ID</label> <input type="text" th:field="*{idProveedor}" readonly="readonly" />
				</div>
				<div>
					<label>Nombre</label> <input type="text" th:field="*{nombre}" />
				</div>
				<div>
					<label>Correo</label> <input type="text" th:field="*{correo}" />
				</div>
				<div>
					<label>Direccion</label> <input type="text" th:field="*{direccion}" />
				</div>
				<div>
					<label>Telefono</label> <input type="text" th:field="*{telefono}" />
				</div>
			</div>
			<div>
				<input type="submit" value="Guardar" /> <a th:href="@{/listarProveedor}">Regresar</a>
			</div>
		</form>
	</div>
</body>
</html>