<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Lista Proveedores</title>
<link href="../static/css/bootstrap.min.css" rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
		<br>
		<div>
			<a th:href="@{/newProveedor}" class="btn btn-primary">Agregar</a>
			<a href="/export/all" class="btn btn-danger">Exportar</a>
		</div>
		<div>
			<h2>Proveedores</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Id_Proveedor</th>
						<th>nombre</th>
						<th>correo</th>
						<th>direccion</th>
						<th>telefono</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="p:${Proveedor}">
						<td th:text="${p.idProveedor}">
						<td th:text="${p.nombre}">
						<td th:text="${p.correo}">
						<td th:text="${p.direccion}">
						<td th:text="${p.telefono}">
						<td><a class="btn btn-info" th:href="@{/EditarProveedor/}+${p.idProveedor}">Editar</a></td>
						<td><a class="btn btn-danger" th:href="@{/deleteProveedor/}+${p.idProveedor}" href="#">Eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>