<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Agregar</title>
</head>
<body>
	<div>
		<form th:action="@{/saveDomiciliario}" th:object="${Domiciliario}" method="POST">
			<div></div>
			<div>
				<div>
					<label>ID</label> <input type="text" th:field="*{Iddomiciliario}" readonly="readonly" />
				</div>
				<div>
					<label>Nombre</label> <input type="text" th:field="*{nombre}" />
				</div>
				<div>
					<label>Apellido</label> <input type="text" th:field="*{apellido}" />
				</div>
				<div>
					<label>Correo</label> <input type="text" th:field="*{correo}" />
				</div>
				<div>
					<label>Telefono</label> <input type="text" th:field="*{telefono}" />
				</div>
			</div>
			<div>
				<input type="submit" value="Guardar" /> <a th:href="@{/listarDomiciliario}">Regresar</a>
			</div>
		</form>
	</div>
</body>
</html>