<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Agregar</title>
</head>
<body>
	<div>
		<form th:action="@{/savePedido}" th:object="${Pedido}" method="POST">
			<div></div>
			<div>
				<div>
					<label>ID</label> <input type="text" th:field="*{idPedido}" readonly="readonly" />
				</div>
				<div>
					<label>Cantidad</label> <input type="text" th:field="*{Cantidad}" />
				</div>
				<div>
					<label>Fecha</label> <input type="date" th:field="*{Fecha}" />
				</div>
				<div>
					<label>NO.pedido</label> <input type="text" th:field="*{nOPedido}" />
				</div>
				<div>
					<label>Precio</label> <input type="text" th:field="*{Precio}" />
				</div>
				<div>
					<label>Producto</label> <input type="text" th:field="*{Producto}" />
				</div>
			</div>
			<div>
				<input type="submit" value="Guardar" /> <a th:href="@{/listarPedido}">Regresar</a>
			</div>
		</form>
	</div>
</body>
</html>