<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lista Pedidos</title>
<link href="../static/css/bootstrap.min.css" rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
		<br>
		<div>
			<a th:href="@{/newPedido}" class="btn btn-primary">Agregar</a>
			<a href="/export/all" class="btn btn-danger">Exportar</a>
		</div>
		<div>
			<h2>Pedidos</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Id_Pedido</th>
						<th>Cantidad</th>
						<th>Fecha</th>
						<th>NO_Pedido</th>
						<th>Precio</th>
						<th>Producto</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="p:${Pedido}">
						<td th:text="${p.idPedido}">
						<td th:text="${p.Cantidad}">
						<td th:text="${p.Fecha}">
						<td th:text="${p.nOPedido}">
						<td th:text="${p.Precio}">
						<td th:text="${p.Producto}">
						<td><a class="btn btn-info" th:href="@{/editarPedido//}+${p.idPedido}">Editar</a></td>
						<td><a class="btn btn-danger" th:href="@{/deletePedido/}+${p.idPedido}" href="#">Eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>