<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Agregar</title>
</head>
<body>
	<div>
		<form th:action="@{/saveVehiculo}" th:object="${Vehiculo}" method="POST">
			<div></div>
			<div>
				<div>
					<label>ID</label> <input type="text" th:field="*{idVehiculo}" readonly="readonly" />
				</div>
				<div>
					<label>NO.vehiculo</label> <input type="text" th:field="*{noVehiculo}" />
				</div>
				<div>
					<label>Marca</label> <input type="text" th:field="*{marca}" />
				</div>
				<div>
					<label>Placa</label> <input type="text" th:field="*{placa}" />
				</div>
				<div>
					<label>Tipo de vehiculo</label> <input type="text" th:field="*{tipoVehiculoFK}" />
				</div>
			</div>
			<div>
				<input type="submit" value="Guardar" /> <a th:href="@{/listarVehiculo}">Regresar</a>
			</div>
		</form>
	</div>
</body>
</html>