<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lista Vehiculos</title>
<link href="../static/css/bootstrap.min.css" rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
		<br>
		<div>
			<a th:href="@{/newVehiculo}" class="btn btn-primary">Agregar</a>
			<a href="/export/all" class="btn btn-danger">Exportar</a>
		</div>
		<div>
			<h2>Vehiculos</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Id_Vehiculo</th>
						<th>NO.vehiculo</th>
						<th>Marca</th>
						<th>Placa</th>
						<th>Tipo</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="v:${Vehiculo}">
						<td th:text="${v.idVehiculo}">
						<td th:text="${v.noVehiculo}">
						<td th:text="${v.marca}">
						<td th:text="${v.placa}">
						<td th:text="${v.tipoVehiculoFK}">
						<td><a class="btn btn-info" th:href="@{/editarVehiculo/}+${v.idVehiculo}">Editar</a></td>
						<td><a class="btn btn-danger" th:href="@{/deleteVehiculo/}+${v.idVehiculo}" href="#">Eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>