<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lista Tarjetas</title>
<link href="../static/css/bootstrap.min.css" rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
		<br>
		<div>
			<a th:href="@{/newTarjeta}" class="btn btn-primary">Agregar</a>
			<a href="/export/all" class="btn btn-danger">Exportar</a>
		</div>
		<div>
			<h2>Tarjetas</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Numero de Tarjeta</th>
						<th>nombre</th>
						<th>expiracion</th>
						<th>año</th>
						<th>cvv</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="t:${RegistrarTarjeta}">
						<td th:text="${t.NumeroTarjeta}">
						<td th:text="${t.nombre}">
						<td th:text="${t.expiracion}">
						<td th:text="${t.ano}">
						<td th:text="${t.ccv}">
						<td><a class="btn btn-info" th:href="@{/editarTarjeta/}+${t.numeroTarjeta}">Editar</a></td>
						<td><a class="btn btn-danger" th:href="@{/deleteTarjeta/}+${t.numeroTarjeta}" href="#">Eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>