<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Usuarios</title>
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">
<link th:href="@{/css/heroic-features.css}" rel="stylesheet">
</head>
<body>
<div class="container">
  <h2>Usuarios</h2>
  <table class="table">
    <thead>
      <tr>
      	<th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="usuario:${usuarios}">
      	<td th:text="${usuario.id}"></td>
        <td th:text="${usuario.nombre}"></td>
        <td th:text="${usuario.apellido}"></td>
        <td th:text="${usuario.email}"></td>
      </tr>       
    </tbody>
  </table>
</div>
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
