<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Agregar</title>
</head>
<body>
	<div>
		<form th:action="@{/saveInventario}" th:object="${inventario}" method="POST">
			<div></div>
			<div>
				<div>
					<label>ID</label> <input type="text" th:field="*{idInventario}" readonly="readonly" />
				</div>
				<div>
					<label>stock</label> <input type="text" th:field="*{Stock}" />
				</div>
				<div>
					<label>movimiento</label> <input type="text" th:field="*{Movimiento}" />
				</div>
				<div>
					<label>cantidad</label> <input type="text" th:field="*{Cantidad}" />
				</div>
			</div>
			<div>
				<input type="submit" value="Guardar" /> <a th:href="@{/listar}">Regresar</a>
			</div>
		</form>
	</div>
</body>
</html>