<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Lista Inventario</title>
<link href="../static/css/bootstrap.min.css" rel="stylesheet"
	th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container">
		<br>
		<div>
			<a th:href="@{/newInventario}" class="btn btn-primary">Agregar</a>
		</div>
		<div>
			<h2>Inventario</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Id_inventario</th>
						<th>Stock</th>
						<th>Movimiento</th>
						<th>Cantidad</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="i:${inventario}">
						<td th:text="${i.idInventario}">
						<td th:text="${i.Stock}">
						<td th:text="${i.Movimiento}">
						<td th:text="${i.Cantidad}">
						<td><a class="btn btn-info" th:href="@{/listarInventario/}+${i.IdInventario}">Editar</a></td>
						<td><a class="btn btn-danger" th:onclick="eliminar([[${i.idInventario}]])" href="#">Eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="/js/funciones.js"></script>
</body>
</html>