<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>pagina pricipal</title>
        <link rel="icon" href="img/transparent-leaf-green-logo-plant-5de509e24fe954.7285757515752913623273.png">
        <link rel="stylesheet" type="text/css" href="static/style.css"
		th:href="@{/css/style3.css}">
    </head>
    <body>
        <div id="preloader">
        <i class="circle-preloader"></i>
    </div>
    <header class="header-area">
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="header-content h-100 d-flex align-items-center justify-content-between">
                            <div class="academy-logo">
                                <img src="/img/DYS.png" alt="" style="width: 210px; height: 80px; margin-bottom: 10px;"/>
                            </div>
                            <div class="login-content">
                                <a href="Login.xhtml">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="academy-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <nav class="classy-navbar justify-content-between" id="academyNav">
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>
                        <div class="classy-menu">
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                            <div class="classynav">
                                <ul>
                                    <li><a href="index.xhtml">Inicio</a></li>
                                    <li><a href="Nosotros.xhtml">Nosotros</a></li>
                                    <li><a href="Productos.jsp">Productos</a></li>
                                    <li><a href="contacto.xhtml">Contacto</a></li>
                                    <li><a href="Nosotros.xhtml">Lista de precios</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="calling-info">
                            <div class="call-center">
                                <a href="tel:+573196025938"><i class="icon-telephone-2"></i> <span>(+57) 319 602
                                        5938</span></a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <div class="breadcumb-area bg-img"
        style="background-image: url(img/2bfc884ff2bd90ca110beef2d584b07a84bb7ded_03.jpg);">
        <div class="bradcumbContent">
            <h2>Nosotros</h2>
        </div>
    </div>
    <section class="about-us-area mt-50 section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                        <h3>Porque somos los mejores?</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                    <h2 style="text-align: center;">Mision</h2>
                    <p>Proveer soluciones con materiales y herramientas de ferretería para la construcción civil,
                        pequeña industria y artesanía, manejando un surtido completo y permanente que permita llegar a
                        los clientes con un servicio oportuno de alta calidad a un precio competitivo. Ofrecer la mejor
                        atención posible a sus clientes a través de un personal altamente capacitado, eficiente y
                        responsable.</p>
                </div>
                <div class="col-12 col-md-6 wow fadeInUp" data-wow-delay="500ms">
                    <h2 style="text-align: center;">Vision</h2>
                    <p>Ser reconocidos como distribuidores y detallistas líderes en proveer soluciones completas en
                        materiales de ferretería, productos de línea industrial y semi-industrial cuya atención al
                        cliente brinda un portafolio de servicios complementarios y de calidad creando valor económico a
                        través de la búsqueda de la excelencia y su expansión en el mercado ecuatoriano.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="about-slides owl-carousel mt-100 wow fadeInUp" data-wow-delay="600ms">
                        <img src="https://economipedia.com/wp-content/uploads/%C2%BFPor-que-faltan-trabajadores.jpg"
                            alt=""/>
                        <img src="https://img.freepik.com/vector-premium/trabajadores-profesionales-dibujos-animados-dia-trabajo_18591-56740.jpg?w=2000" alt=""/>
                        <img src="https://www.gob.mx/cms/uploads/article/main_image/62935/123.jpg" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="teachers-area section-padding-0-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                        <h3>Equipo</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="400ms">
                        <div class="teachers-thumbnail">
                            <img src="https://cdn-3.expansion.mx/dims4/default/7d18a00/2147483647/strip/true/crop/362x190+0+13/resize/1200x630!/format/jpg/quality/80/?url=https%3A%2F%2Fcherry-brightspot.s3.amazonaws.com%2Fmedia%2F2013%2F03%2F04%2Fjefe.jpg"
                                alt=""/>
                        </div>
                        <div class="teachers-info mt-30">
                            <h5>Wilson Olarte</h5>
                            <span>Jefe</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <div class="teachers-thumbnail">
                            <img src="https://thumbs.dreamstime.com/b/obrero-trabajando-en-la-construcci%C3%B3n-de-una-casa-y-vertiendo-cemento-vigas-183265227.jpg" alt=""/>
                        </div>
                        <div class="teachers-info mt-30">
                            <h5>Daniel Gonzalez</h5>
                            <span>Trabajador</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="600ms">
                        <div class="teachers-thumbnail">
                            <img src="https://cdn.euroinnova.edu.es/img/subidasEditor/agricultores-1605693381.webp"
                                alt=""/>
                        </div>
                        <div class="teachers-info mt-30">
                            <h5>Aura Herminda</h5>
                            <span>Trabajadora</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-teachers-area text-center mb-100 wow fadeInUp" data-wow-delay="700ms">
                        <div class="teachers-thumbnail">
                            <img src="https://enciclopedia.net/wp-content/uploads/2013/12/obrero.jpg"
                                alt=""/>
                        </div>
                        <div class="teachers-info mt-30">
                            <h5>Alexander Rodriguez</h5>
                            <span>Trabajador</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="view-all text-center wow fadeInUp" data-wow-delay="800ms">
                        <a href="#" class="btn academy-btn">Todos los trabajadores</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12" style="text-align: center; margin-top: 15%;">
            <div class="elements-title mb-50">
                <h2>Estadisticas</h2>
            </div>
        </div>
        <div class="col-12">
            <div class="our-skills-area text-center mb-100">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="single-pie-bar mb-30" data-percent="75">
                            <canvas class="bar-circle" width="70" height="70"></canvas>
                            <h6>Ganancias</h6>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="single-pie-bar mb-30" data-percent="65">
                            <canvas class="bar-circle" width="70" height="70"></canvas>
                            <h6>Reconocimiento</h6>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="single-pie-bar mb-30" data-percent="43">
                            <canvas class="bar-circle" width="70" height="70"></canvas>
                            <h6>Creatividad</h6>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="single-pie-bar mb-30" data-percent="100">
                            <canvas class="bar-circle" width="70" height="70"></canvas>
                            <h6>Eficiencia</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer-area">
        <div class="main-footer-area section-padding-100-0">
            <div class="container" style="margin-left: 30%;">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <a href="#"><img src="/img/DYS.png" alt=""/></a>
                            </div>
                            <p>Somos TORNILLOS Y BATERIA., líder en brindar soluciones integrales en ferretería liviana,
                                seguridad industrial y complementarios.
                                Nuestra principal apuesta hasta la fecha es entregar la mejor asesoría, calidad y un excelente
                                servicio. Ello nos ha permitido lograr un gran reconocimiento en el mercado y la preferencia de
                                quienes nos visitan o nos contactan a través de nuestros diferentes canales de comercialización.</p>
                            <div class="footer-social-info">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-behance"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <h6>Contacto</h6>
                            </div>
                            <div class="single-contact d-flex mb-30">
                                <i class="icon-placeholder"></i>
                                <p>Cra.45 a No.168A - 15 Granada norte</p>
                            </div>
                            <div class="single-contact d-flex mb-30">
                                <i class="icon-telephone-1"></i>
                                <p>Fijo: 672 59 16 <br/>Oficina: 319 602 59 38</p>
                            </div>
                            <div class="single-contact d-flex">
                                <i class="icon-contract"></i>
                                <p>Wilson@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <script src="/js/bootstrap/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/plugins/plugins.js"></script>
    <script src="/js/active.js"></script>
    </body>
</html>