<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Agregar</title>
</head>
<body>
	<div>
		<form th:action="@{/saveDomicilio}" th:object="${Domicilio}" method="POST">
			<div></div>
			<div>
				<div>
					<label>ID</label> <input type="text" th:field="*{idDomicilio}" readonly="readonly" />
				</div>
				<div>
					<label>NO.domciilio</label> <input type="text" th:field="*{nODomicilio}" />
				</div>
				<div>
					<label>Cantidad</label> <input type="text" th:field="*{cantidad}" />
				</div>
				<div>
					<label>Precio</label> <input type="text" th:field="*{precio}" />
				</div>
				<div>
					<label>Producto</label> <input type="text" th:field="*{producto}" />
				</div>
			</div>
			<div>
				<input type="submit" value="Guardar" /> <a th:href="@{/listarDomicilio}">Regresar</a>
			</div>
		</form>
	</div>
</body>
</html>